{% extends 'layout.html' %}
{% block css %}

    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            float: left;
            padding: 10px;
            padding-left: 0;
            width: 80px;
        }

        ul li i {
            font-size: 18px;
            margin-left: 5px;
            color: #6d6565;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="luffy-container">

        <form class="form-horizontal" method="post" novalidate>
            {% csrf_token %}

            {% for field in form %}
              {% if field.label == "中文名"%}
                <h4 style="color: black;">★★注意：此处为添加船舶基本信息★★</h4>
                <h4 style="color: black;">★1.船舶基本信息从该条船入港、入境到最后离港只需要添加一次，添加船舶基本信息后，直到该轮离港，每次只需要添加该轮的船舶计划(船情)</h4>
                <h4 style="color: black;">★2.如果是入港、入境船舶，<span style="font-size: 30px;color: red">船厂/码头</span>选择最后一项<span style="font-size: 25px;color: red">入港、入境船舶专用</span></h4>
                <h4 style="color: black;">★3.切记，已经在港的船舶，必须添加在港<span style="font-size: 30px;color: red">船厂/码头</span>和<span style="font-size: 30px;color: red">在港泊位</span>。否则不予通过</h4>
              {% endif %}
                <div class="form-group">
                {% if field.label == "船厂/码头" or field.label == "在港泊位(锚地填写锚地)" %}
                <label class="col-sm-2 control-label" style="color: red;font-size: 18px">★{{ field.label }}★</label>
                  {% else %}
                  <label class="col-sm-2 control-label">{{ field.label }}</label>
                {% endif %}
                    <div class="col-sm-8">
                        {{ field }}
                        <span style="color: red;">{{ field.errors.0 }}</span>
                    </div>
                </div>
            {% endfor %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <input type="submit" value="保 存" class="btn btn-primary">
                </div>
            </div>

        </form>


    </div>

{% endblock %}